<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/08_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

Data input and output



1.   CSV
2.   Excel
3.   SQL
4.   HTML

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Colab/MachineLearning /Pandas/DemoCSV.csv')

df.head()

   105.52975
0  105.80392
1  178.60857
2   79.38288
3   52.95869
4   98.87264

In [17]:
pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [21]:
df = pd.read_excel('/content/drive/MyDrive/Colab/MachineLearning /Pandas/DemoEXCEL.xlsx')

df.head()

   Season 1  Season 2  Season 3
0       3.0       5.0       5.0
1       2.0       4.0       4.0
2       4.0       5.0       2.0
3       3.0       3.0       6.0
4       2.0       6.0       4.0

In [29]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [30]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('sqlite:///:memory:')

In [34]:
df.to_sql('My_table',engine)

In [37]:
sqldf = pd.read_sql("My_table",con=engine)

sqldf.head()

   index  Season 1  Season 2  Season 3
0      0       3.0       5.0       5.0
1      1       2.0       4.0       4.0
2      2       4.0       5.0       2.0
3      3       3.0       3.0       6.0
4      4       2.0       6.0       4.0